APP_PORT=3000
NODE_ENV=development

POSTGRES_DB=wagering
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=wagering
POSTGRES_PORT=55432
POSTGRES_USER=wagering

AWS_ACCESS_KEY_ID=test
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
